<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No</th>
    <th>Nama pemilik</th>
    <th>Nama bank</th>
    <th>Nomor rekening</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < bank.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= bank[i].name %></td>
        <td><%= bank[i].bankName %></td>
        <td><%= bank[i].accountNumber %></td>
        <td>
          <form action="/bank/delete/<%= bank[i]._id %>?_method=DELETE" method="POST">
            <a class="btn btn-warning" href="/bank/edit/<%= bank[i]._id %>" >Ubah</a>
            <button class="btn btn-danger">Hapus</button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>